body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 1.6;
    background-color: #f0f0f0; /* Светлый фон для основного контента */
    color: #333; /* Цвет текста для светлой темы */
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

header #gallery-title {
    font-size: 24px; /* Размер шрифта для названия галереи */
    margin-bottom: 10px;
}

header nav {
    margin-bottom: 10px;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Расположение пунктов меню в одну линию */
    justify-content: center; /* Выравнивание по центру */
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
}

/* Подсветка при наведении для светлой темы */
header nav ul li a:hover {
    background-color: #555;
}

.gallery {
    display: flex; /* Расположение миниатюр в ряд */
    flex-wrap: wrap; /* Перенос миниатюр на новую строку при необходимости */
    justify-content: center; /* Выравнивание миниатюр по центру */
    gap: 10px; /* Отступ между миниатюрами */
    padding: 20px;
}

.gallery img {
    max-width: calc(100% / 8); /* Уменьшение размера миниатюр в 8 раз */
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.gallery img:hover {
    transform: scale(1.1); /* Увеличение миниатюры при наведении */
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    padding: 20px;
}

.modal img {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    display: block;
}

.modal p {
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

/* Стили для темной темы */
body.dark-theme {
    background-color: #222;
    color: #ddd; /* Цвет текста для темной темы */
}

body.dark-theme header {
    background-color: #555;
}

body.dark-theme header #gallery-title,
body.dark-theme header nav ul li a {
    color: #ddd;
}

/* Подсветка при наведении для темной темы */
body.dark-theme header nav ul li a:hover {
    background-color: #777;
}
