/* Общие стили для меню */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff; /* Цвет текста для светлой темы */
    transition: background-color 0.3s ease;
}

/* Подсветка при наведении для светлой темы */
nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Стили для темной темы */
body.dark-theme nav ul li a {
    color: #000; /* Цвет текста для темной темы */
}

/* Подсветка при наведении для темной темы */
body.dark-theme nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
